Flask
Flask-Caching
Flask-Compress
Flask-EmailVerifier
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Session
Flask-SQLAlchemy
Flask-WTF 
dash
dash-table
dash-bootstrap-components
onetimepass
PyQRCode
python-dotenv
redis 
waitress 
PyJWT
pandas
gunicorn
PyMySQL