Flask
Flask-Caching
Flask-Compress
Flask-EmailVerifier
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Session
Flask-SQLAlchemy
Flask-WTF 
dash
dash-table
dash-bootstrap-components
onetimepass
pyocclient
PyQRCode
python-dotenv
redis 
waitress 
PyJWT
pandas
gunicorn
PyMySQL
setuptools==65.5.1 
werkzeug>=3.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
